
<div>
<header>
    <div id="cabecera">
      <img id="logotipo" src="../View/img/logotipo.png">
    </div>

    {{#if user.isLogged}}
      <div id="userbar">Loading...</div>

    <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">{{i18n 'My notes'}}</a>

    <div class="navbar navbar-expand-lg" id="navbarNavDropdown">
          <ul class="navbar-nav" id="menus">
            <li class="nav-item active">
              <a class="nav-link" href="#add-note"><i class="fa fa-plus-square-o" aria-hidden="true"></i>{{i18n 'Add note'}}</a>
            </li>


          </ul>




    </div>
    </nav>

      <nav id="menu">
    {{else}}


            <br>
            <div id="bienvenido" >
            {{i18n '¡Welcome to GestNote!'}} <br>
            {{i18n 'Not registered yet?'}} <br> <br>

              <a href='#login'>{{i18n 'Login'}}</a>
            </div>
            {{/if}}

        </nav>




      </header>

      <!-- router contents -->
      <main id="maincontent">Loading...</main>


      <footer>
        <div id="languagecontrol">Loading...</div>
      </footer>
      </div>
