<div key="{{numero}}">
  <div id="titulonota">
    <h3>{{titulo}} </h3>
  </div><br><br>
  <p>{{contenido}} </p>


<div class="botones">


      <a class="fa fa-trash" id="remove-button" item="{{numero}}"></a>
      <a class="fa fa-pencil-square-o" id="edit-button" item="{{numero}}"></a>
      <a class="fa fa-bullhorn" id="share-button" item="{{numero}}"></a>
  
  </div>
</div>
