<tr key="{{numero}}">
  <td><a href="#view-note?id={{numero}}">{{titulo}}</a></td>
  <td>{{autor_id}} ({{user.currentUser}})</td>
  <td>

    {{#if_eq user.currentUser autor_id}}

      <button class="remove-button" item="{{numero}}">{{i18n 'remove'}}</button>
      <button class="edit-button" item="{{numero}}">{{i18n 'edit'}}</button>
      <button class="share-button" item="{{numero}}">{{i18n 'Share'}}</button>
    {{/if_eq}}
  </td>
</tr>
