<div>
  <div class="form-group col-md-6">
  {{i18n 'Title'}}:
  <input type="text" class="form-control" id="titulo" value="{{selectedPost.titulo}}" readonly>
  </div>
  <br>
  <div class="form-group col-md-6">
  {{#i18n}}{{errors.title}}{{/i18n}}<br> {{i18n 'Content'}}:
  <textarea id="contenido" class="form-control" rows="3" readonly>{{selectedPost.contenido}}</textarea>
  {{#i18n}}{{errors.content}}{{/i18n}}
  </div>
  <br>

  <div class="form-group col-md-6">
    {{i18n 'Share'}}:<input type="text" class="form-control" id="compartido" value="">
  </div>
  <br>
  <input type="button" id="savebutton" class="btn btn-primary" value="{{i18n 'Save'}}"></input>
  <input type="button" id="backbutton" class="btn btn-primary" value="{{i18n 'Back'}}"></input>
</div>
