<div>
  <h2>{{selectedPost.titulo}}</h2> {{i18n 'by'}} {{selectedPost.autor_id}}
  <div>{{selectedPost.contenido}}</div>

  {{#if isLogged}}
    <h2>{{i18n 'Leave a comment'}}</h2>
    <div>
      <textarea rows="4" cols="20" id="commentcontent"></textarea>{{commentErrors.content}}
    </div>
    <button id="savecommentbutton">{{i18n 'Save comment'}}</button>
  {{/if}}
</div>
