<div key="{{numero}}">
  <a href="#view-post?id={{numero}}">{{titulo}}</a><br><br>
  <p>{{contenido}} </p>

<div class="actions">
    {{#if_eq user.currentUser autor_id}}

      <a class="fa fa-trash" id="remove-button" item="{{numero}}"></a>
      <a class="fa fa-pencil-square-o" id="edit-button" item="{{numero}}"></a>
      <a class="fa fa-bullhorn" id="share-button" item="{{numero}}"></a>
    {{/if_eq}}
  </div>
</div>
