<div>
  {{#if isLogged}}
    {{i18n 'Hello'}} {{currentUser}}
    <input type="button" id='logoutbutton2' value="{{i18n 'logout'}}"></input>
  {{else}}
  {{i18n 'welcome'}} <br>
  {{i18n 'noRegister'}} <br> <br>

    <a href='#login'>{{i18n 'Login'}}</a>

  {{/if}}
</div>
