<div>
  {{#if isLogged}}
  <div id="idioma" class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{i18n 'Hello'}} {{currentUser}}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  	<a class="dropdown-item" id='logoutbutton'><i class="fa fa-sign-out" aria-hidden="true" ></i>{{i18n 'logout'}}</a>
    </div>
  </div>


  {{else}}
  {{i18n '¡Welcome to GestNote!'}} <br>
  {{i18n 'Not registered yet?'}} <br> <br>

    <a href='#login'>{{i18n 'Login'}}</a>

  {{/if}}
</div>
